<h1>Home</h1>
<div class="main-content">
    <div class="grid-container">
        <h3>The Value of Money</h3>
        <img src="./img/money.jpg" alt="image 1">
        <div class="box">
            <p class="article">The purchasing power of money is determined by the demand for and supply of money, like the prices of all other economic goods and services. The particular relation between this demand and supply determines its particular purchasing power. So, let us first look at those factors that exert an influence on individual demand for money.<br>
            As money is a medium of ex­change, our demand for it may be influenced by considerations of facts and circumstances either on the goods side of the exchange or on the money side. Therefore, we may speak of goods-induced fac­tors and money-induced factors.</p>
            <p class="resource">Source: <a href="https://fee.org/articles/the-value-of-money/">fee.org</a></p>
        </div>
    </div>

    <div class="grid-container">
        <h3>GMO food</h3>
        <img src="./img/gmo-food.jpg" alt="image 2">
        <div class="box">
            <p class="article">Genetically modified (GM) foods are foods derived from organisms whose genetic material (DNA) has been modified in a way that does not occur naturally, e.g. through the introduction of a gene from a different organism. The technology is often called “modern biotechnology” or “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. Currently available GM foods stem mostly from plants, but in the future foods derived from GM microorganisms or GM animals are likely to be introduced on the market. Most existing genetically modified crops have been developed to improve yield through the introduction of resistance to plant diseases or of increased tolerance of herbicides. GM foods can also allow for reductions in food prices through improved yields and reliability.</p>
            <p class="resource">From <a href="https://www.who.int/health-topics/food-genetically-modified#tab=tab_1">who.int</a></p>
        </div>
    </div>

    <div class="grid-container">
        <h3>The View of World in 2100</h3>
        <img src="./img/world.jpg" alt="image 3">
        <div class="box">
            <p class="article">Think the world is crowded now? You haven’t seen anything yet.<br>
            The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN.<br>
            Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.</p>
            <p class="resource">From <a href="https://www.washingtonpost.com/news/wonk/wp/2015/08/17/5-ways-the-world-will-look-dramatically-different-in-">washingtonpost.com</a></p>
        </div>
    </div>
</div>