<h1>Portfolio</h1>
<div class="main-content">
    <div class="portfolio-container">
        <div class="card">
            <img src="./img/portfolio-4.jpg" alt="">
            <figcaption> Coffee & Beyond</figcaption>
        </div>

        <div class="card">
            <img src="./img/portfolio-1.jpg" alt="image 2">
            <figcaption>Rider Express</figcaption>
        </div>

        <div class="card">
            <img src="./img/portfolio-2.jpg" alt="image 2">
            <figcaption>Typography Poster</figcaption>
        </div>

        <div class="card">
            <img src="./img/portfolio-3.jpg" alt="image 2">
            <figcaption>Business Card</figcaption>
        </div>

        <div class="card">
            <img src="./img/portfolio-5.jpg" alt="image 2">
            <figcaption>Infographic Poster</figcaption>
        </div>

        <div class="card">
            <img src="./img/portfolio-6.jpg" alt="image 2">
            <figcaption>Digital Photography</figcaption>
        </div>
    </div>
</div>